body {
    margin: 0;
    font-family: 'Microsoft PhagsPa', microsoft phags;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('https://imgs.search.brave.com/Ig-SJZQXoZsIXojoerBLACs3L-DPDomOsTIlmHoAaFI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLmlt/Z2ZsaXAuY29tLzV0/OXV1NS5qcGc') no-repeat center center fixed;
    background-size: cover;
}
.wave-text span {
    display: inline-block;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.overlay {
    background: rgba(192, 192, 192, 0.6);
    backdrop-filter: blur(10px);
    width: 60vw;
    max-width: 800px;
    margin: 80px auto;
    border-radius: 16px;
    padding: 60px 40px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
h1 {
    margin-bottom: 16px;
    font-size: 2.5em;
    font-weight: 600;
}
p {
    margin-bottom: 32px;
    font-size: 1.2em;
}
.btn-group {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btn1 {
    background: transparent;
    border: 2px solid #ffffff46;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    text-decoration: none;
}
.btn1:hover {
    background: #3a3a3a;
    color: #aac347;
    
}
.btn2 {
    background: transparent;
    border: 2px solid #ffffff46;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    text-decoration: none;
}
.btn2:hover {
    background: #3a3a3a;
    color: #efc400;
}